<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title><roundcube:object name="pagetitle" /></title>
    <roundcube:include file="/includes/links.html" />
    <script type="text/javascript" src="/functions.js"></script>
    <script type="text/javascript" src="/splitter.js"></script>

    <style type="text/css">
        #sectionslist { width: <roundcube:exp expression="!empty(cookie:prefsviewsplitter) ? cookie:prefsviewsplitter-5 : 205" />px; }
        #prefs-box { 
            left: <roundcube:exp expression="!empty(cookie:prefsviewsplitter) ? cookie:prefsviewsplitter+5 : 205" />px;
            <roundcube:exp expression="browser:ie ? ('width:expression((parseInt(this.parentNode.offsetWidth)-'.(!empty(cookie:prefsviewsplitter) ? cookie:prefsviewsplitter+5 : 205).')+\\'px\\');') : ''" />
        }
    </style>
</head>

<body>

    <roundcube:include file="/includes/taskbar.html" />
    <roundcube:include file="/includes/header.html" />
    <roundcube:include file="/includes/settingstabs.html" />
    
    <div id="mainscreen">
        <div id="bounding-box">
            <div id="rules-box">
                <roundcube:object name="prefsframe" id="prefs-frame" width="100%" height="100%" frameborder="0" src="./?_task=settings&_action=plugin.dystill.rules_frame" />
            </div>
        
            <div id="editor-box">

                <fieldset class="tabbed">
                    <legend><roundcube:label name="dystill.rule" /></legend>

                    <table>
                        <tr>
                            <td><roundcube:label name="dystill.header" /></td>
                            <td>
                                <select id="dystill_field">
                                    <option value="From">From</option>
                                    <option value="To">To</option>
                                    <option value="Subject">Subject</option>
                                    <option value="Return-Path">Return Path</option>
                                    <option value="X-Spam-Flag">X-Spam-Flag</option>
                                </select> 
                            </td>
                        </tr>
                        <tr>
                            <td><roundcube:label name="dystill.comparison" /></td>
                            <td>
                                <select id="dystill_comparison">
                                    <option value="0"><roundcube:label name="dystill.starts_with" /></option>
                                    <option value="1"><roundcube:label name="dystill.ends_with" /></option>
                                    <option value="2"><roundcube:label name="dystill.contains" /></option>
                                    <option value="3"><roundcube:label name="dystill.is" /></option>
                                    <option value="4"><roundcube:label name="dystill.regexp" /></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><roundcube:label name="dystill.value" /></td>
                            <td>
                                <input type="text" name="dystill_value" id="dystill_value" /> 
                            </td>
                        </tr>
                    </table>

                </fieldset>
                
                <fieldset class="tabbed">
                    <legend><roundcube:label name="dystill.folders" /></legend>
                    
                    <table>
                        <tr>
                            <td><roundcube:label name="dystill.to" /></td>
                            <td>
                                <select id="dystill_to"></select>
                            </td>
                        </tr>
                        <tr>
                            <td><roundcube:label name="dystill.copyto" /></td>
                            <td>
                                <select id="dystill_copyto"></select>
                            </td>
                        </tr>
                    </table>
                </fieldset>
                
                <fieldset class="tabbed">
                    <legend><roundcube:label name="dystill.headerssub" /></legend>
                    
                    <table>
                        <tr>
                            <td><roundcube:label name="dystill.prependsub" /></td>
                            <td>
                                <input type="text" name="dystill_prependsub" id="dystill_prependsub" /> 
                            </td>
                        </tr>
                        <tr>
                            <td><roundcube:label name="dystill.header" /></td>
                            <td>
                                <input type="text" name="dystill_header" id="dystill_header" /> 
                            </td>
                        </tr>
                    </table>
                </fieldset>
                
                <fieldset class="tabbed">
                    <legend><roundcube:label name="dystill.forwardtab" /></legend>
                    
                    <table>
                        <tr>
                            <td><roundcube:label name="dystill.forward" /></td>
                            <td>
                                <input type="text" name="dystill_forward" id="dystill_forward" /> 
                            </td>
                        </tr>
                    </table>
                </fieldset>
                
                <fieldset class="tabbed">
                    <legend>Status</legend>
                    
                    <table>
                        <tr>
                            <td>
                                <input type="checkbox" name="dystill_markasread" id="dystill_markasread" value="1" />
                            </td>
                            <td>
                                <label for="dystill_markasread"><roundcube:label name="dystill.markasread" /></label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="dystill_flag" id="dystill_flag" value="1" />
                            </td>
                            <td>
                                <label for="dystill_markasread"><roundcube:label name="dystill.flag" /></label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="dystill_flag" id="dystill_delete" value="1" />
                            </td>
                            <td>
                                <label for="dystill_delete"><roundcube:label name="dystill.delete" /></label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="dystill_flag" id="dystill_block" value="1" />
                            </td>
                            <td>
                                <label for="dystill_block"><roundcube:label name="dystill.block" /></label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" name="dystill_flag" id="dystill_blocknote" value="1" />
                            </td>
                            <td>
                                <label for="dystill_blocknote"><roundcube:label name="dystill.blocknote" /></label>
                            </td>
                        </tr>
                    </table>
                </fieldset>
                
                <input type="hidden" name="dystill_filter_id" id="dystill_filter_id" />
                
                <p style="margin-left: 12px;">
                    <input class="button" type="button" id="deletebtn" value="<roundcube:label name="delete" />" />
                    <input class="button mainaction" id="savebtn" type="button" value="<roundcube:label name="save" />" />
                </p>
                
                <script>
                rcube_init_tabs('editor-box');
                </script>
            </div>
        </div>
    </div>
    
</body>

<script type="text/javascript">
$("#settingstabdystill").toggleClass('tablink tablink-selected');
</script>
</html>