<table class="rules_table">
    <thead>
        <tr>
            <th class="sidecol"><roundcube:label name="dystill.rule" /></th>
            <th><roundcube:label name="dystill.actions" /></th>
        </tr>
    </thead>

    <tbody>
    
    </tbody>
    
    <tfoot>
        <tr>
            <td colspan="2">
                <a onclick="return rcmail.command('add','',this)" href="#" id="rcmbtn107" class="button addgroup" title="New identity"> </a>
            </td>
        </tr>
    </tfoot>
</table>