body {
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
}

table.rules_table {
    width: 100%;
    border-collapse: collapse;
}

table.rules_table th.sidecol,
table.rules_table td.sidecol {
    width: 400px;
}

table.rules_table thead {
    background: url("../../../../skins/default/images/listheader.gif") repeat-x scroll left top #CCCCCC;
    font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    border-bottom: 1px solid #999999;
    color: #333333;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    padding: 0 4px;
    vertical-align: middle; 
    position: fixed;
    display: table;
    width: 100%;   
}

table.rules_table tbody {
    margin-top: 20px;
    margin-bottom: 22px;
    display: table;
    width: 100%;
}

table.rules_table tbody tr {
    border-bottom: 1px solid #EBEBEB;
    cursor: default;
    font-size: 11px;
    height: 20px;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;  
    font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;  
}

table.rules_table tbody td:first-child {
     padding-left: 5px;
}

table.rules_table tfoot {
    background: url("../../../../skins/default/images/listheader.gif") repeat-x scroll left top #CCCCCC;
    border-top: 1px solid #999999;
    bottom: 0;
    height: 22px;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
}

table.rules_table tr.selected {
    color: #ffffff;
    background-color: #cc3333;    
}

table.rules_table a.button {
    background: url("../../../../skins/default/images/icons/groupactions.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 22px;
    margin: 0;
    opacity: 0.99;
    overflow: hidden;
    padding: 0;
    width: 34px;    
}